@tailwind base;
@tailwind components;
@tailwind utilities;


#post-text-area::-webkit-scrollbar {
    display: none;
}

#post-list-container::-webkit-scrollbar {
    width: 3px;
}

#post-list-container::-webkit-scrollbar-track {
    background: rgb(213, 213, 213);
    border-radius: 3px;
}

#post-list-container::-webkit-scrollbar-thumb {
    background: rgb(181, 181, 181);
    border-radius: 3px;
}